@font-face {
  font-family: "Merriweather";
  src:
    url("fonts/Merriweather-Regular.woff2") format("woff2"),
    url("fonts/Merriweather-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html,
body {
  /*Color Pallete*/
  --backgroundDarkBlue: #25383f;
  --majorLightBlue: #65dcd5;
  --minorLightBlue: #d9fff4;
  --fadedBlue: #3a5763;
  --darkerFadedBlue: #1b292f;

  /*Fonts*/
  --mainFont: "Merriweather" /*To be altered to merriweather*/;

  background-color: var(--backgroundDarkBlue);
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  width: 100%;
}

/*general styles*/
body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  color: var(--minorLightBlue);
  font-family: var(--mainFont), Serif;
  font-size: 3rem;
}

.subHeader {
  color: var(--minorLightBlue);
  font-family: var(--mainFont), Serif;
  font-size: 2rem;
}

.highlighted {
  color: var(--majorLightBlue);
}

/*mainUpper styles*/
#mainUpper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-evenly;
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  flex-basis: 25%;
  font-family: var(--mainFont), Serif;
  gap: 4px;
  width: 100%;
}

input {
  background-color: var(--fadedBlue);
  border: 0;
  border-radius: 50px 0 0 20px;
  padding: 8px 1rem 8px 1rem;
  color: var(--minorLightBlue);
  width: 25%;
}

input::placeholder {
  font-family: var(--mainFont);
  color: var(--darkerFadedBlue);
}

button[type="submit"] {
  background-color: var(--majorLightBlue);
  border: 0;
  border-radius: 0 50px 50px 0;
  text-align: center;
  transition: transform 0.3s ease;
}

button[type="submit"]:hover {
  transform: scale(1.1);
  filter: brightness(105%);
}

#searchImg {
  align-self: center;
  scale: 0.8;
}

/* Loading Screen styles */
#loadingScreen {
  background-color: black;
  color: var(--minorLightBlue);
  font-family: var(--mainFont), serif;
  font-size: 2rem;
  height: 100%;
  opacity: 0.8;
  padding-top: 50%;
  position: absolute;
  text-align: center;
  width: 100%;
}

/* mainLower styles*/
#mainLower {
  flex: 0;
}

#mainLower.active {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
}

/* Error loading styles */
.errorMessage {
  animation: fadeIn 600ms 100ms forwards;
  color: var(--minorLightBlue);
  font-family: var(--mainFont), serif;
  font-size: 2rem;
  opacity: 0;
  text-align: center;
}

/*styles of the display of info for today*/
#lowerUpperRow {
  animation: fadeIn 600ms 100ms forwards;
  opacity: 0;
  width: 100%;
}

.infoComponent {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  justify-content: stretch;
  width: 100%;
}

.infoComponent > .subHeader {
  text-align: center;
  margin-bottom: 0;
}

.iconTempContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 5%;
  height: auto;
}

.mainIcon {
  scale: 2;
}

.mainTemp {
  color: var(--minorLightBlue);
  font-family: var(--mainFont), serif;
  font-size: 3rem;
}

.infoComponent > .dayWeatherLabel {
  color: var(--minorLightBlue);
  font-family: var(--mainFont), serif;
  font-size: 1rem;
  text-align: center;
}
